<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pol_post.title %>
</p>

<p>
  <strong>Article:</strong>
  <%= @pol_post.article %>
</p>


<strong>Image:</strong>
  <%= @pol_post.image %>
  <%= image_tag @pol_post.post_img.url %>
</p>


<!--code for buttons taken from codeplace, also avalible heree http://techqa.info/programming/tag/local?after=39279565 -->

<%= link_to like_pol_post_path(@pol_post), class: "like", method: :put do %>
  <button type= "button" class = "btn btn-info" aria-label= "Left Align">
   <span class= "glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden= "true"></span>
  <span class= "badge"><%= @pol_post.get_upvotes.size%></span>
 </button>
<%end%>


<%= link_to dislike_pol_post_path(@pol_post), class: "like", method: :put do %>
<button type= "button" class = "btn btn-info" aria-label= "Left Align">
<span class= "glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden= "true"></span>
<span class= "badge"><%= @pol_post.get_downvotes.size%></span>
</button>
<%end%>




<%= link_to 'Edit', edit_pol_post_path(@pol_post) %> |
<%= link_to 'Back', pol_posts_path %>
