<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sport_post.title %>
</p>

<p>
  <strong>Article:</strong>
  <%= @sport_post.article %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sport_post.image %>
</p>

<strong>Image:</strong>
  <%= @sport_post.image %>
  <%= image_tag @sport_post.post_img.url %>
</p>





<!--code for buttons taken from codeplace, also avalible heree http://techqa.info/programming/tag/local?after=39279565 -->

<%= link_to like_sport_post_path(@sport_post), class: "like", method: :put do %>
  <button type= "button" class = "btn btn-info" aria-label= "Left Align">
   <span class= "glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden= "true"></span>
  <span class= "badge"><%= @sport_post.get_upvotes.size%></span>
 </button>
<%end%>


<%= link_to dislike_sport_post_path(@sport_post), class: "like", method: :put do %>
<button type= "button" class = "btn btn-info" aria-label= "Left Align">
<span class= "glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden= "true"></span>
<span class= "badge"><%= @sport_post.get_downvotes.size%></span>
</button>
<%end%>


<%= link_to 'Edit', edit_sport_post_path(@sport_post) %> |
<%= link_to 'Back', sport_posts_path %>
