<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tech_post.title %>
</p>

<p>
  <strong>Article:</strong>
  <%= @tech_post.article %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tech_post.image %>
</p>

<strong>Image:</strong>
  <%= @tech_post.image %>
  <%= image_tag @tech_post.post_img.url %>
</p>


<!--code for buttons taken from codeplace, also avalible heree http://techqa.info/programming/tag/local?after=39279565 -->

<%= link_to like_tech_post_path(@tech_post), class: "like", method: :put do %>
  <button type= "button" class = "btn btn-info" aria-label= "Left Align">
   <span class= "glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden= "true"></span>
  <span class= "badge"><%= @tech_post.get_upvotes.size%></span>
 </button>
<%end%>


<%= link_to dislike_tech_post_path(@tech_post), class: "like", method: :put do %>
<button type= "button" class = "btn btn-info" aria-label= "Left Align">
<span class= "glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden= "true"></span>
<span class= "badge"><%= @tech_post.get_downvotes.size%></span>
</button>
<%end%>



<%= link_to 'Edit', edit_tech_post_path(@tech_post) %> |
<%= link_to 'Back', tech_posts_path %>
